<!DOCTYPE HTML>
<html>
<head>
<title>details</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<link href="/static/css/style.css" rel="stylesheet" type="text/css" media="all" />
<script src="/static/js/jquery.min.js"></script>
<!---start-login-script--->
		<script src="/static/js/login.js"></script>
		<!---//End-login-script--->
		<!-----768px-menu----->
		<link type="text/css" rel="stylesheet" href="/static/css/jquery.mmenu.all.css" />
		<script type="text/javascript" src="/static/js/jquery.mmenu.js"></script>
			<script type="text/javascript">
				//	The menu on the left
				$(function() {
					$('nav#menu-left').mmenu();
				});
		</script>
		<!-----//768px-menu----->
</head>
<body>
	<div class="content">
	<!------start-768px-menu---->
			<div id="page">
					<div id="header">
						<a class="navicon" href="#menu-left"> </a>
					</div>
					<nav id="menu-left">
						<ul>
							<li><a href="{% url 'home' %}">主页</a></li>
							<li><a href="{% url 'players' %}">球员</a></li>
							<li><a href="{% url 'team' %}">球队</a></li>
							<li><a href="{% url 'match' %}">赛事</a></li>
							<div class="clear"> </div>
						</ul>
					</nav>
			</div>
		<!------end-768px-menu---->
			<!---start-header---->
			<div class="header">
		   <!---start-wrap---->
				<div class="wrap">
				<div class="header-left">

				</div>
				<div class="header-right">
					<div class="top-nav">
					<ul>
						<li><a href="{% url 'home' %}">主页</a></li>
						<li><a href="{% url 'players' %}">球员</a></li>
						<li><a href="{% url 'team' %}">球队</a></li>
						<li><a href="{% url 'match' %}">赛事</a></li>
					</ul>
				</div>
				
				<div class="sign-ligin-btns">
					<ul>
						
						<li id="loginContainer"><a class="login" id="loginButton" href="#"><span>登录</span></a>
							 <div class="clear"> </div>
				                <div id="loginBox">                
				                    <form id="loginForm">
				                        <fieldset id="body">
				                            <fieldset>
				                                <label for="email">邮箱</label>
				                                <input type="text" name="email" id="email" />
				                            </fieldset>
				                            <fieldset>
				                                <label for="password">密码</label>
				                                <input type="password" name="password" id="password" />
				                            </fieldset>
				                            <label class="remeber" for="checkbox"><input type="checkbox" id="checkbox" />记住我</label>
				                            <input type="submit" id="login" value="登录" />
				                        </fieldset>
				                        <span><a href="#">忘记密码？</a></span>
				                    </form>
				                </div>
				            <!-- Login Ends Here -->
						</li>
						<li id="signupContainer"><a class="signup" id="signupButton" href="#"><span>注册</span></a>
							 <div class="clear"> </div>
				                <div id="signupBox">                
				                    <form id="signupForm">
				                        <fieldset id="signupbody">
				                            <fieldset>
				                                <label for="email">邮箱<span>*</span></label>
				                                <input type="text" name="email" id="signupemail" />
				                            </fieldset>
				                            <fieldset>
				                                <label for="password">密码<span>*</span></label>
				                                <input type="password" name="password" id="signuppassword" />
				                            </fieldset>
				                             <fieldset>
				                                <label for="password">确认<span>*</span></label>
				                                <input type="password" name="password" id="signuppassword1" />
				                            </fieldset>
				                            <input type="submit" id="signup" value="现在注册" />
				                        </fieldset>
				                    </form>
				                </div>
				            <!-- Login Ends Here -->
						</li>
						<div class="clear"> </div>
					</ul>
				</div>
				<div class="clear"> </div>
				</div>
				<div class="clear"> </div>
			</div>
			</div>
			<div class="wrap">
				<div class="section-title">
	                   <h3>学习树</h3>
	            </div><!--section-title-->
			</div>
		</div>
			<!-- start main -->
		<div class="mid_bg">
			 <p class="about-title">什么是学习树？</p>
		<div class="wrap">
				<div class="details">
					<h3 class="style"><a href="#">学习树是为您量身定制的学习计划树</a></h3>
					<div class="det_pic">
						  <img src="/static/images/tree.png" alt="" />
					</div>
					<div class="det_text">
						<p class="para">我们会从您感兴趣的赛事，球员或球队开始，将其作为根结点，逐渐延伸生成一棵树来帮助您了解这项运动。结点的延伸可能根据球员的好队友，可能根据他参加的比赛，可能根据他效力的球队。按照这棵树去学习相关知识，您会迅速成为一位真正地球迷。</p>
						<p class="para"></p>
						<!--div class="sign_up sign_up1 ">
							<a href="#">Read More</a>
						</div-->
					</div>
					<div class="clear"></div>
				</div>
		</div>
		</div>
		<div class="footer">
   	    <div class="wrap">
   	    	<div class="footer-left">
				<div class="copy">
			       <p>Copyright &copy; 2018.XJTU-我看长 All rights reserved.</p>
		        </div>
			</div>
		   <div class="clear"> </div>
	    </div>

   </div>

</body>
</html>