<!DOCTYPE HTML>
<html>
<head>
<title>players</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<link href="/static/css/style.css" rel="stylesheet" type="text/css" media="all" />
<script src="/static/js/jquery.min.js"></script>
<!---start-login-script--->
		<script src="/static/js/login.js"></script>
		<!---//End-login-script--->
		<!-----768px-menu----->
		<link type="text/css" rel="stylesheet" href="/static/css/jquery.mmenu.all.css" />
		<script type="text/javascript" src="/static/js/jquery.mmenu.js"></script>
			<script type="text/javascript">
				//	The menu on the left
				$(function() {
					$('nav#menu-left').mmenu();
				});
		</script>
		<!-----//768px-menu----->
</head>
<body>
		<div class="content">
	<!------start-768px-menu---->
			<div id="page">
					<div id="header">
						<a class="navicon" href="#menu-left"> </a>
					</div>
					<nav id="menu-left">
						<ul>
							<li><a href="{% url 'home' %}">主页</a></li>
							<li class="active"><a href="{% url 'players' %}">球员</a></li>
							<li><a href="{% url 'team' %}">球队</a></li>
							<li><a href="{% url 'match' %}">赛事</a></li>
							<div class="clear"> </div>
						</ul>
					</nav>
			</div>
		<!------end-768px-menu---->
			<!---start-header---->
			<div class="header">
		   <!---start-wrap---->
				<div class="wrap">
				<div class="header-left">
					
				</div>
				<div class="header-right">
					<div class="top-nav">
					<ul>
						<li><a href="{% url 'home' %}">主页</a></li>
						<li class="active"><a href="{% url 'players' %}">球员</a></li>
						<li><a href="{% url 'team' %}">球队</a></li>
						<li><a href="{% url 'match' %}">赛事</a></li>
					</ul>
				</div>
				
				<div class="sign-ligin-btns">
					<ul>
						<li id="loginContainer"><a class="login" id="loginButton" href="#"><span>登录</span></a>
							 <div class="clear"> </div>
				                <div id="loginBox">                
				                    <form id="loginForm">
				                        <fieldset id="body">
				                            <fieldset>
				                                <label for="email">邮箱</label>
				                                <input type="text" name="email" id="email" />
				                            </fieldset>
				                            <fieldset>
				                                <label for="password">密码</label>
				                                <input type="password" name="password" id="password" />
				                            </fieldset>
				                            <label class="remeber" for="checkbox"><input type="checkbox" id="checkbox" />记住我</label>
				                            <input type="submit" id="login" value="登录" />
				                        </fieldset>
				                        <span><a href="#">忘记密码？</a></span>
				                    </form>
				                </div>
				            <!-- Login Ends Here -->
						</li>
						<li id="signupContainer"><a class="signup" id="signupButton" href="#"><span>注册</span></a>
							 <div class="clear"> </div>
				                <div id="signupBox">                
				                    <form id="signupForm">
				                        <fieldset id="signupbody">
				                            <fieldset>
				                                <label for="email">邮箱<span>*</span></label>
				                                <input type="text" name="email" id="signupemail" />
				                            </fieldset>
				                            <fieldset>
				                                <label for="password">密码<span>*</span></label>
				                                <input type="password" name="password" id="signuppassword" />
				                            </fieldset>
				                             <fieldset>
				                                <label for="password">确认<span>*</span></label>
				                                <input type="password" name="password" id="signuppassword1" />
				                            </fieldset>
				                            <input type="submit" id="signup" value="现在注册" />
				                        </fieldset>
				                    </form>
				                </div>
				            <!-- Login Ends Here -->
						</li>
						<div class="clear"> </div>
					</ul>
				</div>
				<div class="clear"> </div>
				</div>
				<div class="clear"> </div>
			</div>
			</div>
			<div class="wrap">
				<div class="section-title">
	                   <h3>球员</h3>
	            </div><!--section-title-->
			</div>
		</div>
		<div class="about">
			 <p class="about-title">了解比赛从了解球员开始</p>
				<!--div class="wrap">
                            <div class="row-fluid">
                                <div class="row_side-left">
                                        <h3>Who we are ?<span> </span></h3>
                                        <img src="images/free-money-course.jpg" alt="" />
                                   </div>
                                <div class="row_side-right">
                                    <div class="skills">
                                        <h3>Our best skills<span> </span></h3>
                                        <p>This template includes the Progress Bar with unlimited colors, percentage indicators and animations.</p>
                                        <div class="flx-skill">
                                            <p class="flx-skill-title">Web & UI design</p>
                                            <p class="flx-skill-number">75%</p>
                                            <div class="progress-bar flexible animate"> <span class="progress-75" style="width: 75%"><span> </span></span>  </div>
                                               <div class="clear"> </div>
                                        </div>
                                        <div class="flx-skill">
                                            <p class="flx-skill-title">iOs Development</p>
                                            <p class="flx-skill-number">90%</p>
                                            <div class="progress-bar flexible animate"> <span class="progress-90" style="width: 90%"><span> </span></span> </div>
                                               <div class="clear"> </div>
                                        </div>
                                        <div class="flx-skill">
                                            <p class="flx-skill-title">Logo Design</p>
                                            <p class="flx-skill-number">50%</p>
                                            <div class="progress-bar flexible animate"> <span class="progress-50" style="width: 50%"><span> </span></span> </div>
                                               <div class="clear"> </div>
                                        </div>
                                        <div class="flx-skill">
                                            <p class="flx-skill-title">Wordpress</p>
                                            <p class="flx-skill-number">60%</p>
                                            <div class="progress-bar flexible animate"> <span class="progress-60" style="width: 60%"><span> </span></span> </div>
                                               <div class="clear"> </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clear"> </div>
                            </div> 
                            <div class="team" id="team">
					 		<div class="heading_h">
								<h3><a href="#">The Team</a></h3>
							</div>	
					 		<div class="middle-grids">
								<div class="grid_1_of_4 images_1_of_4">
						 			<a href="details.html">
						 				<span class="rollover"> </span>
									</a>
									<img src="images/pic2.jpg" alt="Image 1">
						 			<h3>Adrian Thomas </h3>
						 			<h4>CEO&amp;Founder</h4>
						 			<p>Lorem ipsum is simply dummy text of the printing and typesetting industry.Lorem ipsum has been </p>
								</div>
								<div class="grid_1_of_4 images_1_of_4">
									<a href="details.html">
						 				<span class="rollover"> </span>
									</a>
									 <img src="images/pic1.png">
									 <h3>Narate Ketram</h3>
									 <h4>Creative Diector</h4>
									 <p>Lorem ipsum is simply dummy text of the printing and typesetting industry.Lorem ipsum has been</p>
								</div>
								<div class="grid_1_of_4 images_1_of_4">
									<a href="details.html">
						 				<span class="rollover"> </span>
									</a>
									 <img src="images/pic2.png">
								 	<h3>Fernando Comet</h3>
								 	<h4>CEO&amp;Founder</h4>
								 	<p>Lorem ipsum is simply dummy text of the printing and typesetting industry.Lorem ipsum has been </p>
							    
								</div>
								
								 <div class="clear"> </div>
						</div>
			 		</div-->
        <table border="1">
        <thead>
            <th>year</th>
            <th>place</th>
        </thead>
        <tbody>
            {% for line in data %}
            <tr>
                <td>{{ line.year }}</td>
                <td>{{ line.city }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
		</div>        
	</div>
	<div class="footer">
   	    <div class="wrap">
   	    	<div class="footer-left">
				<div class="copy">
			       <p>Copyright &copy; 2018.XJTU-我看长 All rights reserved.</p>
		        </div>
			</div>
			
		   <div class="clear"> </div>
	    </div>

   </div>

</body>
</html>